

  <header>
    <div id="top-bar" class="bg-purple-dark xs:px-5 py-2">
      <div class="container flex justify-between items-center text-white">
        <div>
          <div class="menu-utility-menu-ire-container">
            <ul class="utility-menu flex items-center text-white">
              <li id="menu-item-57719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57719"><a href="https://www.phorest.com/contact/">
                <%= chunk('Helpful chunk descriptor','cnk_bb5f45f7b9aea454b256') %></a></li>
              <li id="menu-item-57582" class="hidden-mobile menu-item menu-item-type-custom menu-item-object-custom menu-item-57582"><a href="tel:+35318747800">+353 (0)1 8747800</a></li>
              <li id="menu-item-57581" class="hidden-mobile menu-item menu-item-type-custom menu-item-object-custom menu-item-57581"><a href="mailto:letsgrow@phorest.com"><%= chunk('letsgrow@p..','cnk_ddc98e9437d258ac0d98') %></a></li>
            </ul>
          </div>
        </div>
        <div class="relative z-20 rounded cursor-pointer text-white lang-switcher">
          <ul class="list-reset main-switcher">
            <li class="pr-5 leading-none flex align-center">
              <div class="lang-flag"><img class="inline flag-en" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="en" /></div>
              <p class="inline-block text-xs"><%= chunk('Ireland','cnk_ef1b20d5906390d6edeb') %></p>
              <ul class="sub-list lang-list bg-purple rounded w-full p-2">
                <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/us/">
                    <div class="lang-flag"><img class="inline flag-us" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="us" /></div><%= chunk('United Sta..','cnk_06a5a202bd100eb3b24f') %>
                  </a></li>
                <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/gb/">
                    <div class="lang-flag"><img class="inline flag-gb" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="gb" /></div>United Kingdom
                  </a></li>
                <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/fi/">
                    <div class="lang-flag"><img class="inline flag-fi" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="fi" /></div>Suomi
                  </a></li>
                <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/de/">
                    <div class="lang-flag"><img class="inline flag-de" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="de" /></div>DACH
                  </a></li>
                <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/au/">
                    <div class="lang-flag"><img class="inline flag-au" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="au" /></div>Australia
                  </a></li>
              </ul><i class="absolute right-0" data-feather="chevron-down" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div id="header" class="bg-purple xs:px-5 py-3 text-white">
      <div class="container flex relative items-center  justify-between ">

        <a class="logo" href="https://www.phorest.com/">
          <img class="block lg:hidden xl:block" src="https://d2dfxqxblmblx4.cloudfront.net/images/logos/phorest-logo.svg" alt="Phorest Salon Software">
          <img class="hidden lg:block xl:hidden" src="https://d2dfxqxblmblx4.cloudfront.net/images/logos/phorest-acorn-logo.svg" alt="Phorest Salon Software">
        </a>


        <div class="nav-primary-trigger hamburger relative md:hidden">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <nav role="navigation" class="nav-primary bg-purple hidden fixed top-0 left-0 w-full h-screen md:static md:block md:w-auto md:h-auto md:flex-shrink-0 ">
          <div class="menu-top-bar">
            <div class="hidden text-purple-lighter cursor-pointer text-bold" id="mobile-menu-back"><i class="inline" data-feather="chevron-left" aria-hidden="true"></i>Menu</div>
          </div>
          <div class="menu-container">
            <ul class="flex items-center flex-col md:flex-row">
              <li id="menu-item-57797" class="level-0 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57797"><a><%= chunk('Why Phores..','cnk_d2e7a4ba5bc5e82086d9') %></a>
                <ul class="sub-menu">
                  <li id="menu-item-57798" class="level-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57798"><a>For your industry</a>
                    <ul class="sub-menu">
                      <li id="menu-item-57800" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57800"><a href="https://www.phorest.com/industry/beauty-salon-software/"><%= chunk('Beauty Sal..','cnk_d40fed4434f30f66b8b1') %></a></li>
                      <li id="menu-item-57801" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57801"><a href="https://www.phorest.com/industry/hair-salon-software/"><%= chunk('Hair Salon','cnk_8b3068890d5aef89b585') %></a></li>
                      <li id="menu-item-57802" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57802"><a href="https://www.phorest.com/industry/nail-salon-software/">Nail Salon</a></li>
                      <li id="menu-item-57803" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57803"><a href="https://www.phorest.com/industry/spa-software/">Spa</a></li>
                      <li id="menu-item-57804" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57804"><a href="https://www.phorest.com/industry/barber-shop-software/">Barbershop</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-57799" class="level-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57799"><a>For your business</a>
                    <ul class="sub-menu">
                      <li id="menu-item-68937" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-68937"><a href="https://www.phorest.com/compare/">Compare</a></li>
                      <li id="menu-item-57809" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57809"><a href="https://www.phorest.com/faqs/">FAQs</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li id="menu-item-59017" class="level-0 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-59017"><a href="https://www.phorest.com/features/">Features</a>
                <ul class="sub-menu">
                  <li id="menu-item-57563" class="level-1 overview menu-item menu-item-type-post_type menu-item-object-page menu-item-57563"><a href="https://www.phorest.com/features/">Features Overview</a></li>
                  <li id="menu-item-57566" class="level-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57566"><a>Manage your Clients</a>
                    <ul class="sub-menu">
                      <li id="menu-item-57569" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57569"><a href="https://www.phorest.com/features/salon-scheduling-software/">Scheduling</a></li>
                      <li id="menu-item-71238" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-71238"><a href="https://www.phorest.com/features/online-gift-vouchers/">Sell Gift Vouchers Online</a></li>
                      <li id="menu-item-57572" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57572"><a href="https://www.phorest.com/features/salon-crm-software/">Client Management</a></li>
                      <li id="menu-item-57810" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57810"><a href="https://www.phorest.com/features/digital-consultation-forms/">Consultation Forms</a></li>
                      <li id="menu-item-57577" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57577"><a href="https://www.phorest.com/features/automated-sms-email/">Automated SMS &#038; Email</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-57567" class="level-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57567"><a>Manage your Salon</a>
                    <ul class="sub-menu">
                      <li id="menu-item-57571" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57571"><a href="https://www.phorest.com/features/salon-management-app/">Salon Management App</a></li>
                      <li id="menu-item-57573" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57573"><a href="https://www.phorest.com/features/salon-rostering-software/">Staff Management</a></li>
                      <li id="menu-item-57574" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57574"><a href="https://www.phorest.com/features/salon-pos-software/">POS Software</a></li>
                      <li id="menu-item-57575" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57575"><a href="https://www.phorest.com/features/salon-inventory-software/">Stock &#038; Inventory</a></li>
                      <li id="menu-item-57576" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57576"><a href="https://www.phorest.com/features/salon-accounting-software/">Reporting</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-57568" class="level-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57568"><a>Market your Salon</a>
                    <ul class="sub-menu">
                      <li id="menu-item-57578" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57578"><a href="https://www.phorest.com/features/salon-marketing-software/">Marketing Suite</a></li>
                      <li id="menu-item-57570" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57570"><a href="https://www.phorest.com/features/salon-booking-app/">Appointment Booking App</a></li>
                      <li id="menu-item-57579" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57579"><a href="https://www.phorest.com/features/salon-reputation-management/">Get 5* Reviews</a></li>
                      <li id="menu-item-57580" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57580"><a href="https://www.phorest.com/features/salon-loyalty-program-software/">Loyalty Program</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li id="menu-item-57812" class="level-0 menu-item menu-item-type-post_type menu-item-object-page menu-item-57812"><a href="https://www.phorest.com/pricing/">Pricing</a></li>
              <li id="menu-item-57813" class="level-0 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57813"><a>Resources</a>
                <ul class="sub-menu">
                  <li id="menu-item-57815" class="level-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57815"><a>Grow</a>
                    <ul class="sub-menu">
                      <li id="menu-item-57820" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57820"><a href="https://www.phorest.com/blog/">Blog</a></li>
                      <li id="menu-item-57819" class="level-2 menu-item menu-item-type-post_type_archive menu-item-object-podcast menu-item-57819"><a href="https://www.phorest.com/fm/">Podcast</a></li>
                      <li id="menu-item-65007" class="level-2 menu-item menu-item-type-post_type_archive menu-item-object-guides menu-item-65007"><a href="https://www.phorest.com/resources/">Guides</a></li>
                      <li id="menu-item-72122" class="level-2 menu-item menu-item-type-post_type_archive menu-item-object-videos menu-item-72122"><a href="https://www.phorest.com/videos/">Videos</a></li>
                      <li id="menu-item-70456" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-70456"><a href="https://www.phorest.com/coronavirus-best-practice/">Coronavirus Best Practice</a></li>
                      <li id="menu-item-58288" class="level-2 menu-item menu-item-type-post_type_archive menu-item-object-event menu-item-58288"><a href="https://www.phorest.com/events/">Events</a></li>
                      <li id="menu-item-58284" class="level-2 menu-item menu-item-type-post_type menu-item-object-post menu-item-58284"><a href="https://www.phorest.com/blog/salon-owners-guide-to-gdpr/">GDPR</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-57816" class="level-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57816"><a>Phorest</a>
                    <ul class="sub-menu">
                      <li id="menu-item-57822" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57822"><a href="https://www.phorest.com/about/">About Us</a></li>
                      <li id="menu-item-57823" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57823"><a href="https://www.phorest.com/about/careers/">Careers</a></li>
                      <li id="menu-item-57826" class="level-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-57826"><a href="https://phorest.helpjuice.com/">Support</a></li>
                      <li id="menu-item-57824" class="level-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-57824"><a href="https://www.phorest.com/contact/">Contact</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>

        <div class="header-cta">
          <button type="button" data-modal="book-demo" class="modal-trigger button button-primary w-full lg:w-auto lg:mr-5 demo-cta">
            Book a free demo
          </button>
          <button type="button" data-modal="book-quote" class="modal-trigger button button-secondary white hidden lg:block quote-cta">
            Request a quote
          </button>
        </div>
      </div>
  </header>

  <div role="document">
    <div class="content">
      <main class="main">

        <section class="hero">
          <div id="hero" class="relative mb-12 lg:mb-0 " style="background-color: #e6ceff">
            <div class="container pt-12 pb-16 sm:pb-0 lg:py-24 flex items-start justify-between ">
              <div class="relative z-10 md:max-w-lg lg:max-w-sm lg:w-1/2 lg:max-w-lg md:pr-4">
                <h1 class="text-purple text-base font-montserrat font-normal leading-normal mb-2">Salon software for hair, beauty, barber &amp; spa businesses</h1>
                <h2 class="text-purple">Make Money While Your Salon is Closed</h2>
                <div class="text-purple">
                  <p>Closed doors doesn&#8217;t have to mean a closed till. Keep revenue coming in until your salon is ready to reopen with online gift vouchers.</p>
                </div>

                <div class="mt-8">
                  <button type="button" data-modal="book-demo" class="modal-trigger button button-primary mr-2 sm:mr-4 mb-4 sm:mb-0 sm:mr-5">
                    Book a free demo
                  </button>


                  <a href="https://www.phorest.com/features/online-gift-vouchers/" class="button button-secondary inline-block purple">
                    Sell Gift Vouchers Online
                  </a>
                </div>

              </div>

              <div class="absolute w-full h-full top-0 right-0 hero-img ">


                <picture>


                  <source type="image/webp" media="(min-width: 992px)" srcset="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage-giftcards.webp">
                  <source type="image/jpg" media="(min-width: 992px)" srcset="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage-giftcards.jpg">

                  <source type="image/webp" media="(min-width: 421px) and (max-width: 991px)" srcset="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage-giftcards_w1600.webp">
                  <source type="image/jpg" media="(min-width: 421px) and (max-width: 991px)" srcset="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage-giftcards_w1600.jpg">

                  <source type="image/webp" media="(max-width: 420px)" srcset="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage-giftcards_w800.webp">
                  <source type="image/jpg" media="(max-width: 420px)" srcset="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage-giftcards_w800.jpg">

                  <img src="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage-giftcards.jpg" alt="Phorest Salon Software" />
                </picture>

                <div class="bg-mask absolute h-full top-0" style="background-color: #e6ceff"></div>
              </div>
            </div>
          </div>
          <img class="pattern top" src="https://d2dfxqxblmblx4.cloudfront.net/images/patterns/beauty-1.png" alt="Pattern">
        </section>


        <section>
          <div class="container">
            <h3 class="section-title text-purple">Over 90,000 salon and spa professionals trust Phorest</h3>

            <div class="flex flex-wrap justify-center">
              <div class="card flex px-2 mb-8 sm:mb-4 sm:w-1/2 md:px-4 md:mb-8 xl:w-1/4 xl:mb-0 w-full">

                <div>
                  <img class="lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/scheduling.png" alt="scheduling">
                  <h2 class="card-title text-sm font-normal leading-tight mb-0 mt-6 uppercase">SCHEDULING</h2>
                  <h3 class="font-semibold text-xl leading-tight my-2">Get more bookings</h3>
                  <p>An intuitive appointment calendar to manage your clients and schedule your staff. Spend less time on the phone and get more bookings. Even when you’re closed.</p>

                  <a class="link" href="https://www.phorest.com/features/salon-scheduling-software/" target="">Explore<i data-feather="arrow-right" aria-hidden="true"></i></a>
                </div>

              </div>
              <div class="card flex px-2 mb-8 sm:mb-4 sm:w-1/2 md:px-4 md:mb-8 xl:w-1/4 xl:mb-0 w-full">

                <div>
                  <img class="lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/staff-management.png" alt="staff-management">
                  <h2 class="card-title text-sm font-normal leading-tight mb-0 mt-6 uppercase">SALON MANAGEMENT</h2>
                  <h3 class="font-semibold text-xl leading-tight my-2">No more admin</h3>
                  <p>Phorest does it for you. Manage staff, stock, POS and client information in one safe, cloud-based space. So you can get back to making your clients look good &amp; feel great.</p>

                  <a class="link" href="https://www.phorest.com/features/" target="">Explore<i data-feather="arrow-right" aria-hidden="true"></i></a>
                </div>

              </div>
              <div class="card flex px-2 mb-8 sm:mb-4 sm:w-1/2 md:px-4 md:mb-8 xl:w-1/4 xl:mb-0 w-full">

                <div>
                  <img class="lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/marketing.png" alt="marketing">
                  <h2 class="card-title text-sm font-normal leading-tight mb-0 mt-6 uppercase">SALON MARKETING TOOLS</h2>
                  <h3 class="font-semibold text-xl leading-tight my-2">Own your brand</h3>
                  <p>A full marketing suite to promote your salon, fill appointments, get more 5-star reviews on Google and a loyalty program to rocket your rebookings.</p>

                  <a class="link" href="https://www.phorest.com/features/salon-marketing-software/" target="">Explore<i data-feather="arrow-right" aria-hidden="true"></i></a>
                </div>

              </div>
              <div class="card flex px-2 mb-8 sm:mb-4 sm:w-1/2 md:px-4 md:mb-8 xl:w-1/4 xl:mb-0 w-full">

                <div>
                  <img class="lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/support.png" alt="support">
                  <h2 class="card-title text-sm font-normal leading-tight mb-0 mt-6 uppercase">SUPPORT</h2>
                  <h3 class="font-semibold text-xl leading-tight my-2">Above and beyond</h3>
                  <p>Tailored set up on every package – we’ll import your clients, staff, services and products with zero down time. We’re also here for free support and training, forever.</p>

                </div>

              </div>
            </div>

          </div>
        </section>


        <section class="relative mb-0">
          <div id="testimonials-carousel">
            <div class="testimonial active " data-slide="0">
              <div class="flex flex-wrap">
                <div class="img lg:w-3/5 w-full lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/testimonials/the-beauty-lounge.jpg">


                </div>
                <div class="testimonial-content flex lg:block lg:w-2/5 w-full text-white relative" style="background: #33c6c6">
                  <div class="mask absolute hidden lg:block top-0 left-0 h-full" style="background: #33c6c6"></div>
                  <div class="testimonial-text">
                    <div class="text-lg font-light italic font-lora">
                      <p>&#8220;Phorest really has been a gamechanger for the salon&#8230; we couldn&#8217;t be happier.&#8221;</p>
                    </div>
                    <div class="caption text-sm mt-4">
                      <p class="font-semibold">Lisa Yaldoo &amp; Olivia Shouenyia</p>
                      Owners, The Beauty Lounge, USA
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial " data-slide="1">
              <div class="flex flex-wrap">
                <div class="img lg:w-3/5 w-full lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/testimonials/charlotte-dylan-bradshaw.jpg">


                </div>
                <div class="testimonial-content flex lg:block lg:w-2/5 w-full text-white relative" style="background: #507ce4">
                  <div class="mask absolute hidden lg:block top-0 left-0 h-full" style="background: #507ce4"></div>
                  <div class="testimonial-text">
                    <div class="text-lg font-light italic font-lora">
                      <p>For anyone considering Phorest, I&#8217;d say do it. The information that it gives you is priceless.</p>
                    </div>
                    <div class="caption text-sm mt-4">
                      <p class="font-semibold">Charlotte Bradshaw, Managing Director</p>
                      Dylan Bradshaw, Dublin Ireland
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial " data-slide="2">
              <div class="flex flex-wrap">
                <div class="img lg:w-3/5 w-full lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/testimonials/hooker-and-young.jpg">


                </div>
                <div class="testimonial-content flex lg:block lg:w-2/5 w-full text-white relative" style="background: #7dc7e3">
                  <div class="mask absolute hidden lg:block top-0 left-0 h-full" style="background: #7dc7e3"></div>
                  <div class="testimonial-text">
                    <div class="text-lg font-light italic font-lora">
                      <p>&#8220;We joined Phorest because our previous software supplier was outdated and couldn&#8217;t give us what we needed for multi-sites. We were looking for something that was going to be great for the whole team, &amp; it just ticked so many boxes for us.&#8221;</p>
                    </div>
                    <div class="caption text-sm mt-4">
                      <p class="font-semibold">Gary Hooker &amp; Michael Young</p>
                      Owners, Hooker &amp; Young, UK
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial " data-slide="3">
              <div class="flex flex-wrap">
                <div class="img lg:w-3/5 w-full lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/testimonials/derrick-rassam-6salon.jpg">


                </div>
                <div class="testimonial-content flex lg:block lg:w-2/5 w-full text-white relative" style="background: #507ce4">
                  <div class="mask absolute hidden lg:block top-0 left-0 h-full" style="background: #507ce4"></div>
                  <div class="testimonial-text">
                    <div class="text-lg font-light italic font-lora">
                      <p>&#8220;I&#8217;m responsible for managing the schedules of about 40 stylists, and I absolutely could not do it without Phorest.&#8221;</p>
                    </div>
                    <div class="caption text-sm mt-4">
                      <p class="font-semibold">Derrick Rassam</p>
                      General Manager, 6 Salon, USA
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonials-bullets flex items-center justify-center text-center w-full p-4">
            <p class="bullet rounded-full bg-grey-light mx-1 active " data-slide="0"></p>
            <p class="bullet rounded-full bg-grey-light mx-1 " data-slide="1"></p>
            <p class="bullet rounded-full bg-grey-light mx-1 " data-slide="2"></p>
            <p class="bullet rounded-full bg-grey-light mx-1 " data-slide="3"></p>
          </div>
        </section>


        <section>
          <div id="features">

            <div class="feature-section pt-40 ">
              <div class="container">


                <div class="flex flex-wrap justify-around ">
                  <div class="md:w-2/5 w-full">
                    <h2 class="section-title no-line text-purple md:text-left mb-16 md:mb-0">Get your clients back in more often, spending more &amp; generating referrals!</h2>
                    <img class="lazy hidden md:block mt-16 md:w-3/5  mx-auto " data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/marketing-icon_big.svg" alt="Phorest features">
                  </div>

                  <div class="md:w-2/5 w-full">
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12 ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Spa &amp; Salon Marketing">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-marketing"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Spa &amp; Salon Marketing</h3>
                      </div>
                      <div class="text-sm">
                        <p>A built-in marketing suite with ready-made SMS and email marketing. Create and design custom messages for all goals and occasions and measure your success right to the till!</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/salon-marketing-software/" target="">Salon Marketing<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12 ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Get 5-Star Reviews Online">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-reviews-reputation"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Get 5-Star Reviews Online</h3>
                      </div>
                      <div class="text-sm">
                        <p>No other salon software is automated to help you get more 5-star reviews on Google, Facebook and Yelp, generating referrals for you while you sleep!</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/salon-reputation-management/" target="">Salon Online Reputation Management<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12 ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Salon Loyalty Program">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-loyalty-program"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Salon Loyalty Program</h3>
                      </div>
                      <div class="text-sm">
                        <p>Our Treatcard loyalty program is guaranteed to make you money, designed to get your clients trying and rebooking new services they wouldn&#8217;t normally pay for.</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/salon-loyalty-program-software/" target="">Salon Loyalty Program<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>




              </div>
            </div>

            <div class="feature-section pt-40 bg-separator ">
              <div class="container">


                <div class="flex flex-wrap justify-around  flex-row-reverse ">
                  <div class="md:w-2/5 w-full">
                    <h2 class="section-title no-line text-purple md:text-left mb-16 md:mb-0">Your 24/7 salon receptionist, taking bookings day and night.</h2>
                    <img class="lazy hidden md:block mt-16 md:w-3/5  md:mr-auto md:ml-0 " data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/booking-icon_big.svg" alt="Phorest features">
                  </div>

                  <div class="md:w-2/5 w-full">
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12  md:mr-0 md:ml-auto ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Salon Branded Booking App">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-branded-app"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Salon Branded Booking App</h3>
                      </div>
                      <div class="text-sm">
                        <p>We&#8217;ll build you your own salon app to make it even easier for your clients to book, rebook and manage appointments. Bookings are secured by deposit for no-show protection.</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/salon-booking-app/" target="">Salon Booking App<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12  md:mr-0 md:ml-auto ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Appointment Booking">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-scheduling"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Appointment Booking</h3>
                      </div>
                      <div class="text-sm">
                        <p>Your salon day in one view. Take bookings over the phone or online through your website, salon booking app or social media and schedule them all on one place.</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/salon-scheduling-software/" target="">Appointment Scheduling<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12  md:mr-0 md:ml-auto ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Automated SMS &amp; Email">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-automated-sms-email"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Automated SMS &amp; Email</h3>
                      </div>
                      <div class="text-sm">
                        <p>Automate your SMS &amp; email communication with your clients to reduce no-shows and increase rebookings; with automated confirmations, reminders, rebooking prompts, no-show follow-ups and review requests.</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/automated-sms-email/" target="">Automated SMS and Email<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>




              </div>
            </div>

            <div class="feature-section pt-40 ">
              <div class="container">


                <div class="flex flex-wrap justify-around ">
                  <div class="md:w-2/5 w-full">
                    <h2 class="section-title no-line text-purple md:text-left mb-16 md:mb-0">Everything you need to smoothly manage your salon.</h2>
                    <img class="lazy hidden md:block mt-16 md:w-3/5  mx-auto " data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/management-icon_big.svg" alt="Phorest features">
                  </div>

                  <div class="md:w-2/5 w-full">
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12 ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Spa &amp; Salon Point of Sale (POS)">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-pos"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Spa &amp; Salon Point of Sale (POS)</h3>
                      </div>
                      <div class="text-sm">
                        <p>Sell services, products, vouchers and course treatments with ease. Accept cash, card, voucher, deposit, loyalty points and account payments. Connects with your inventory levels, to make sure all your information is up to date.</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/salon-pos-software/" target="">Salon POS<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12 ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Staff Management">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-staff-management"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Staff Management</h3>
                      </div>
                      <div class="text-sm">
                        <p>Track staff performance, targets, sales and services. Set custom commission rates and Phorest calculates payroll for you. Empower staff with access to their rosters on the Phorest GO staff app.</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/salon-rostering-software/" target="">Employee Management<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="feature lg:w-4/5 w-full sm:mb-16 mb-12 ">
                      <div class="flex mb-5">
                        <svg class="icon" role="img" title="Client Management">
                          <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/features-sprite_5983f877.svg#icon-client-management"></use>
                        </svg>
                        <h3 class="font-semibold text-purple ml-2">Client Management</h3>
                      </div>
                      <div class="text-sm">
                        <p>Store all your client information, consultation forms, history and notes in one place. Our expert team will even import all your client lists for you from your old system.</p>
                      </div>
                      <a class="link inline-block mt-5 text-sm" href="https://www.phorest.com/features/salon-crm-software/" target="">Client Management<i data-feather="arrow-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>




              </div>
            </div>

            <div class="text-center mt-4">
              <a href="https://www.phorest.com/features/" class="button bg-blue text-white">Take a closer look</a>
            </div>

          </div>
        </section>


        <section>
          <div class="relative lg:mb-10 overflow-hidden" style="background-color: #288cfa">
            <img class="lazy top pattern cta-pattern" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/patterns/beauty-triangle_white.png" alt="Beauty pattern">
            <div class="container py-16 px-12 lg:py-24 flex items-center justify-center flex-wrap relative z-10">
              <div class="w-full mr-0 mb-6 md:mr-12 md:mb-0 md:w-2/3">
                <h2 class="text-white mb-2 text-3xl text-center md:text-left lg:text-4xl">Ready to see how Phorest Salon Software can help your salon or spa to grow?</h2>
              </div>

              <button type="button" data-modal="book-demo" class="modal-trigger button block button-primary flex-shrink-0 demo-cta">
                Book a free demo
              </button>
            </div>
            <img class="pattern cta-pattern" src="https://d2dfxqxblmblx4.cloudfront.net/images/patterns/barber-triangle_white.png" alt="Barber pattern">
          </div>
        </section>


        <section>
          <div class="container">
            <h2 class="text-purple section-title md:hidden">Software that&#039;s tailored to your industry</h2>
            <div class="industries-grid justify-center flex-wrap flex">
              <div class="hidden md:block md:w-1/2 lg:w-1/3 sm:px-4 w-full">
                <div class="industry bg-purple">
                  <h2 class="text-white text-3xl lg:text-4xl">Software that&#039;s tailored to your industry</h2>
                </div>
              </div>
              <div class="md:w-1/2 lg:w-1/3 sm:px-4 w-full">
                <a href="https://www.phorest.com/industry/hair-salon-software/" class="lazy industry" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/industries/hair.jpg">
                  <div class="lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/shapes/pattern-hair_circle_purple.png"></div>
                  <h3>HAIR</h3>
                </a>
              </div>
              <div class="md:w-1/2 lg:w-1/3 sm:px-4 w-full">
                <a href="https://www.phorest.com/industry/nail-salon-software/" class="lazy industry" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/industries/nails.jpg">
                  <div class="lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/shapes/pattern-nails_circle_purple.png"></div>
                  <h3>NAILS</h3>
                </a>
              </div>
              <div class="md:w-1/2 lg:w-1/3 sm:px-4 w-full">
                <a href="https://www.phorest.com/industry/beauty-salon-software/" class="lazy industry" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/industries/beauty.jpg">
                  <div class="lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/shapes/pattern-beauty_circle_purple.png"></div>
                  <h3>BEAUTY</h3>
                </a>
              </div>
              <div class="md:w-1/2 lg:w-1/3 sm:px-4 w-full">
                <a href="https://www.phorest.com/industry/spa-software/" class="lazy industry" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/industries/spa.jpg">
                  <div class="lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/shapes/pattern-spa_circle_purple.png"></div>
                  <h3>SPA</h3>
                </a>
              </div>
              <div class="md:w-1/2 lg:w-1/3 sm:px-4 w-full">
                <a href="https://www.phorest.com/industry/barber-shop-software/" class="lazy industry" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/industries/barber.jpg">
                  <div class="lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/images/shapes/pattern-barber_circle_purple.png"></div>
                  <h3>BARBER</h3>
                </a>
              </div>
            </div>

          </div>
        </section>
      </main>
    </div>
  </div>

  <section class="relative mb-0">
    <div id="ratings" class="relative bg-purple pb-12">
      <div class="container">

        <p class="section-title text-white">We hate to brag but... <span class="whitespace-no-wrap">people really like</span> what we do</p>

        <div class="flex flex-wrap justify-center">
          <div class="px-12 text-center mb-16">
            <img class="lazy mx-auto" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/logos/capterra.png" alt="capterra">
            <div class="flex items-center justify-center">
              <span class="text-white text-xs font-semibold leading-relaxed">5/5</span>
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
            </div>
          </div>

          <div class="px-12 text-center mb-16">
            <img class="lazy mx-auto" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/logos/google.png" alt="google">
            <div class="flex items-center justify-center">
              <span class="text-white text-xs font-semibold leading-relaxed">5/5</span>
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
            </div>
          </div>

          <div class="px-12 text-center mb-16">
            <img class="lazy mx-auto" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/logos/facebook.png" alt="facebook">
            <div class="flex items-center justify-center">
              <span class="text-white text-xs font-semibold leading-relaxed">4.8/5</span>
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
            </div>
          </div>

          <div class="px-12 text-center mb-16">
            <img class="lazy mx-auto" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/logos/getapp.png" alt="getapp">
            <div class="flex items-center justify-center">
              <span class="text-white text-xs font-semibold leading-relaxed">5/5</span>
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
              <img class="star lazy" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/star.svg" alt="star icon">
            </div>
          </div>

          <div class="w-full">
            <p class="text-white text-center font-lora text-lg max-w-sm mx-auto">"the leading salon appointment and CRM software company" <strong>- Forbes</strong></p>
          </div>

          <div class="text-center mt-16">
            <img class="lazy mx-auto" style="height: 175px;" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/logos/crozdesk.png" alt="Crozdesk - Point of Sale Software Leader">
          </div>
        </div>

      </div>
    </div>

    <img class="lazy pattern" data-src="https://d2dfxqxblmblx4.cloudfront.net/images/patterns/spa-2.png" alt="footer pattern">

  </section>


  <footer class="content-info bg-purple-dark pb-16 relative z-10">
    <div class="container">

      <div class="text-center py-10 px-2 md:px-8 border-b-2 border-white">
        <p class="section-title no-line text-white font-bold text-2xl font-lora">
          Ready to try Phorest for yourself?
        </p>
        <div class="text-center mt-6">
          <button type="button" data-modal="book-demo" class="modal-trigger button button-primary sm:mr-4 mb-4 sm:mb-0 sm:mr-5 demo-cta">
            Book a free demo
          </button>
          <button type="button" data-modal="book-quote" class="modal-trigger button button-secondary white quote-cta">
            Request a quote
          </button>
        </div>
      </div>
      <div class="flex flex-wrap items-start justify-between py-10 text-white">
        <div class="md:w-1/2 w-full font-light">

          <div class="flex flex-wrap">
            <div class="features-content-container">
              <div class="featured-content-img bg-cover bg-center w-full rounded relative lazy" data-background-image="https://d2dfxqxblmblx4.cloudfront.net/wp-content/uploads/2020/04/15032902/30Days2Grow_quaranTEAMedition_2000px.jpg"></div>
            </div>
            <div class="sm:w-1/2 text-white">
              <h4 class="font-lora font-bold">Latest from the Phorest Blog</h4>
              <p class="my-4 text-sm text-purple-lighter">The 30Days2Grow Salon Challenge Is Back With A Quarantine Twist!</p><a class="text-sm link text-white" href="https://www.phorest.com/blog/30days2grow-salon-challenge-quarantine-twist/">Read more<i data-feather="arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="md:w-2/5 md:mt-0 mt-12 w-full">
          <div id="menu-footer" class="menu-footer-menu-ire-container">
            <ul class="flex">
              <li id="menu-item-57595" class="head menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57595"><a>Company</a>
                <ul class="sub-menu">
                  <li id="menu-item-57596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57596"><a href="https://www.phorest.com/about/">Our Story</a></li>
                  <li id="menu-item-57597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57597"><a href="https://www.phorest.com/about/careers/">Careers</a></li>
                  <li id="menu-item-57598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57598"><a href="https://www.phorest.com/contact/">Contact</a></li>
                  <li id="menu-item-57599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-57599"><a href="https://www.phorest.com/privacy/">Privacy</a></li>
                  <li id="menu-item-57600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57600"><a href="https://www.phorest.com/copyright-notices/">Copyright</a></li>
                  <li id="menu-item-59686" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59686"><a href="https://www.phorest.com/sitemap/">Sitemap</a></li>
                </ul>
              </li>
              <li id="menu-item-57601" class="head menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57601"><a>Product</a>
                <ul class="sub-menu">
                  <li id="menu-item-57602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57602"><a href="https://www.phorest.com/features/">Features</a></li>
                  <li id="menu-item-57603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57603"><a href="https://www.phorest.com/pricing/">Pricing</a></li>
                  <li id="menu-item-63986" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63986"><a href="https://www.phorest.com/industry/">For your Industry</a></li>
                  <li id="menu-item-68938" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68938"><a href="https://www.phorest.com/compare/">Compare</a></li>
                  <li id="menu-item-59687" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59687"><a href="https://phorest.helpjuice.com/">Support</a></li>
                  <li id="menu-item-70660" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70660"><a href="https://www.phorest.com/downloads/">Download</a></li>
                </ul>
              </li>
              <li id="menu-item-57607" class="head menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-57607"><a>Community</a>
                <ul class="sub-menu">
                  <li id="menu-item-57610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57610"><a href="https://www.phorest.com/blog/">Blog</a></li>
                  <li id="menu-item-60031" class="menu-item menu-item-type-post_type_archive menu-item-object-podcast menu-item-60031"><a href="https://www.phorest.com/fm/">Podcast</a></li>
                  <li id="menu-item-58298" class="menu-item menu-item-type-post_type_archive menu-item-object-event menu-item-58298"><a href="https://www.phorest.com/events/">Events</a></li>
                  <li id="menu-item-72123" class="menu-item menu-item-type-post_type_archive menu-item-object-videos menu-item-72123"><a href="https://www.phorest.com/videos/">Videos</a></li>
                  <li id="menu-item-70457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70457"><a href="https://www.phorest.com/coronavirus-best-practice/">Coronavirus Best Practice</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-end justify-between">
        <div class="w-1/3 order-1 md:order-none md:block md:mt-0 flex flex-wrap justify-between mt-5 text-white text-xs text-left">
          <a class="hidden sm:inline-block mr-5" href="mailto:letsgrow@phorest.com">letsgrow@phorest.com</a>
          <a class="hidden sm:inline-block" href="tel:+353 (0)1 8747800">+353 (0)1 8747800</a>
          <a class="sm:hidden inline-block mr-5" href="https://www.phorest.com/contact/">Contact Us</a>
        </div>
        <div class="md:w-1/3 w-full text-white text-xs text-center">
          <div class="social mb-4">
            <a href="https://twitter.com/thephorestword" target="_blank" rel="noopener noreferrer"><svg role="img" title="Twitter">
                <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/social-icons-sprite_02d247a0.svg#icon-twitter"></use>
              </svg></a>
            <a href="https://www.instagram.com/phorestsalonsoftware/" target="_blank" rel="noopener noreferrer"><svg role="img" title="Instagram">
                <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/social-icons-sprite_02d247a0.svg#icon-instagram"></use>
              </svg></a>
            <a href="https://www.facebook.com/phorestsalonsoftware" target="_blank" rel="noopener noreferrer"><svg role="img" title="Facebook">
                <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/social-icons-sprite_02d247a0.svg#icon-facebook"></use>
              </svg></a>
            <a href="https://www.linkedin.com/company/phorest?trk=company_name" target="_blank" rel="noopener noreferrer"><svg role="img" title="Linkedin">
                <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/social-icons-sprite_02d247a0.svg#icon-linkedin"></use>
              </svg></a>
            <a href="https://www.youtube.com/channel/UCK6lvd3Iwg1fdWRi2XJYXNA" target="_blank" rel="noopener noreferrer"><svg role="img" title="Youtube">
                <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/social-icons-sprite_02d247a0.svg#icon-youtube"></use>
              </svg></a>
            <a href="https://open.spotify.com/show/76HwWmCP6S9jjKeBObrMuP" target="_blank" rel="noopener noreferrer"><svg role="img" title="Spotify">
                <use data-href="https://www.phorest.com/wp-content/themes/phorest/dist/images/social-icons-sprite_02d247a0.svg#icon-spotify"></use>
              </svg></a>
          </div>
          <p>2020 Phorest. All rights reserved.</p>
        </div>
        <div class="w-1/3 text-right order-2 md:order-none">
          <div class="inline-block text-right">
            <div class="relative z-20 rounded cursor-pointer text-white lang-switcher">
              <ul class="list-reset main-switcher">
                <li class="pr-5 leading-none flex align-center">
                  <div class="lang-flag"><img class="inline flag-en" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="en" /></div>
                  <p class="inline-block text-xs">Ireland</p>
                  <ul class="sub-list lang-list bg-purple rounded w-full p-2">
                    <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/us/">
                        <div class="lang-flag"><img class="inline flag-us" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="us" /></div>United States
                      </a></li>
                    <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/gb/">
                        <div class="lang-flag"><img class="inline flag-gb" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="gb" /></div>United Kingdom
                      </a></li>
                    <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/fi/">
                        <div class="lang-flag"><img class="inline flag-fi" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="fi" /></div>Suomi
                      </a></li>
                    <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/de/">
                        <div class="lang-flag"><img class="inline flag-de" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="de" /></div>DACH
                      </a></li>
                    <li class="text-xs py-2"><a class="flex align-center" href="https://www.phorest.com/au/">
                        <div class="lang-flag"><img class="inline flag-au" src="https://d2dfxqxblmblx4.cloudfront.net/images/icons/flags.png" alt="au" /></div>Australia
                      </a></li>
                  </ul><i class="absolute right-0" data-feather="chevron-down" aria-hidden="true"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <div class="modal w-screen h-screen fixed" id="book-demo">
    <div class="modal-content w-full relative rounded-lg">
      <div class="close-modal text-purple absolute top-0 right-0 z-10 mr-10 mt-6 cursor-pointer"><i data-feather="x" aria-hidden="true"></i></div>
      <div class="form h-full bg-white">
        <form class="phorest-form w-full p-10 md:px-16 md:pt-12" action="" method="post" data-id="e25196d0-972e-4e5f-94a6-e33b436c1c6a" novalidate>
          <p class="md:text-2xl text-lg font-lora font-bold text-purple">Schedule your free demo</p>
          <p class=" font-lora text-purple">No commitments, just a good look at what we can do for you.</p>
          <p class="mb-4 font-lora text-purple">Phorest is great for all growing salons, perfect for 3+ staff.</p>

          <input name="channel_source" type="hidden" value="Website">
          <input name="lifecyclestage" type="hidden" value="salesqualifiedlead">
          <input name="interested_package" type="hidden" value="">
          <input name="form_ip" type="hidden" value="">
          <input data-name="submit-consent" data-id="6471442" type="hidden" value="Requested quote or demo">
          <span class="nottoday">
            <label for="form_email">Please leave this field blank</label>
            <input name="form_email" type="email" placeholder="Please leave this field blank" autocomplete="nope" tabindex="-1" readonly="readonly" onfocus="this.removeAttribute('readonly')" />
          </span>

          <div class="flex flex-wrap mb-6">

            <div class=" sm:w-1/2 pr-1  w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="firstname">
                Name </label>


              <input name="firstname" type="text" required autocomplete=" given-name ">


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" sm:w-1/2  w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="lastname">
                Last Name </label>


              <input name="lastname" type="text" autocomplete=" family-name ">


              <p class="text-grey text-xs -my-2 ml-4">Optional</p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="email">
                Email Address </label>


              <input name="email" type="email" required autocomplete=" email ">


              <p class="form-error">Enter a valid email</p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="phone">
                Phone Number </label>


              <input name="phone" type="tel" required autocomplete=" tel ">


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" w-full  relative form-field empty">



              <div class="inline-block relative w-full  hidden  ">
                <select name="county">
                  <option selected></option>

                  <option value="Aberdeenshire">Aberdeenshire</option>
                  <option value="Angus">Angus</option>
                  <option value="Antrim">Antrim</option>
                  <option value="Argyll and Bute">Argyll and Bute</option>
                  <option value="Armagh">Armagh</option>
                  <option value="Bedfordshire">Bedfordshire</option>
                  <option value="Berkshire ">Berkshire </option>
                  <option value="Bristol">Bristol</option>
                  <option value="Buckinghamshire">Buckinghamshire</option>
                  <option value="Cambridgeshire">Cambridgeshire</option>
                  <option value="Cheshire">Cheshire</option>
                  <option value="City of Aberdeen">City of Aberdeen</option>
                  <option value="City of Dundee">City of Dundee</option>
                  <option value="City of Edinburgh">City of Edinburgh</option>
                  <option value="City of Glasgow">City of Glasgow</option>
                  <option value="Clackmannanshire">Clackmannanshire</option>
                  <option value="Clwyd">Clwyd</option>
                  <option value="Cornwall">Cornwall</option>
                  <option value="Cumbria">Cumbria</option>
                  <option value="Derbyshire">Derbyshire</option>
                  <option value="Devon">Devon</option>
                  <option value="Dorset">Dorset</option>
                  <option value="Down">Down</option>
                  <option value="Dumfries and Galloway">Dumfries and Galloway</option>
                  <option value="Durham">Durham</option>
                  <option value="Dyfed">Dyfed</option>
                  <option value="East Ayrshire">East Ayrshire</option>
                  <option value="East Dunbartonshire">East Dunbartonshire</option>
                  <option value="East Lothian">East Lothian</option>
                  <option value="East Renfrewshire">East Renfrewshire</option>
                  <option value="East Riding of Yorkshire">East Riding of Yorkshire</option>
                  <option value="East Sussex">East Sussex</option>
                  <option value="Essex">Essex</option>
                  <option value="Falkirk">Falkirk</option>
                  <option value="Fermanagh">Fermanagh</option>
                  <option value="Fife">Fife</option>
                  <option value="Gloucestershire">Gloucestershire</option>
                  <option value="Greater Manchester">Greater Manchester</option>
                  <option value="Gwent">Gwent</option>
                  <option value="Gwynedd">Gwynedd</option>
                  <option value="Hampshire">Hampshire</option>
                  <option value="Herefordshire">Herefordshire</option>
                  <option value="Hertfordshire">Hertfordshire</option>
                  <option value="Highland">Highland</option>
                  <option value="Inverclyde">Inverclyde</option>
                  <option value="Isle of Wight">Isle of Wight</option>
                  <option value="Kent">Kent</option>
                  <option value="Lancashire">Lancashire</option>
                  <option value="Leicestershire">Leicestershire</option>
                  <option value="Lincolnshire">Lincolnshire</option>
                  <option value="Lincolnshire">Lincolnshire</option>
                  <option value="London">London</option>
                  <option value="Londonderry">Londonderry</option>
                  <option value="Merseyside">Merseyside</option>
                  <option value="Mid Glamorgan">Mid Glamorgan</option>
                  <option value="Midlothian">Midlothian</option>
                  <option value="Moray">Moray</option>
                  <option value="Norfolk">Norfolk</option>
                  <option value="North Ayrshire">North Ayrshire</option>
                  <option value="North Lanarkshire">North Lanarkshire</option>
                  <option value="North Yorkshire">North Yorkshire</option>
                  <option value="Northamptonshire">Northamptonshire</option>
                  <option value="Northumberland">Northumberland</option>
                  <option value="Nottinghamshire">Nottinghamshire</option>
                  <option value="Orkney Islands">Orkney Islands</option>
                  <option value="Oxfordshire">Oxfordshire</option>
                  <option value="Perth and Kinross">Perth and Kinross</option>
                  <option value="Peterborough">Peterborough</option>
                  <option value="Powys">Powys</option>
                  <option value="Renfrewshire">Renfrewshire</option>
                  <option value="Scottish Borders">Scottish Borders</option>
                  <option value="Shetland Islands">Shetland Islands</option>
                  <option value="Shropshire">Shropshire</option>
                  <option value="Somerset">Somerset</option>
                  <option value="South Ayrshire">South Ayrshire</option>
                  <option value="South Glamorgan">South Glamorgan</option>
                  <option value="South Lanarkshire">South Lanarkshire</option>
                  <option value="South Yorkshire">South Yorkshire</option>
                  <option value="Staffordshire">Staffordshire</option>
                  <option value="Stirling">Stirling</option>
                  <option value="Suffolk">Suffolk</option>
                  <option value="Surrey">Surrey</option>
                  <option value="Swindon">Swindon</option>
                  <option value="Tyne &amp; Wear">Tyne &amp; Wear</option>
                  <option value="Tyrone">Tyrone</option>
                  <option value="Warwickshire">Warwickshire</option>
                  <option value="West Dunbartonshire">West Dunbartonshire</option>
                  <option value="West Glamorgan">West Glamorgan</option>
                  <option value="West Lothian">West Lothian</option>
                  <option value="West Midlands">West Midlands</option>
                  <option value="West Sussex">West Sussex</option>
                  <option value="West Yorkshire">West Yorkshire</option>
                  <option value="Western Isles">Western Isles</option>
                  <option value="Wiltshire">Wiltshire</option>
                  <option value="Worcestershire">Worcestershire</option>
                  <option value="Other">Other</option>

                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 pb-3 text-grey">
                  <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                </div>
              </div>


            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="type_of_business">
                Business Type </label>


              <div class="inline-block relative w-full  ">
                <select name="type_of_business" required>
                  <option selected></option>

                  <option value="Beauty Salon">Beauty Salon</option>
                  <option value="Hair Salon">Hair Salon</option>
                  <option value="Hair &amp; Beauty Salon">Hair &amp; Beauty Salon</option>
                  <option value="Barber">Barber</option>
                  <option value="Medi-aesthetic">Medi-aesthetic</option>
                  <option value="Spa">Spa</option>
                  <option value="Mobile">Mobile</option>
                  <option value="Other">Other</option>

                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 pb-3 text-grey">
                  <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                </div>
              </div>


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="numemployees">
                Number of Employees </label>


              <div class="inline-block relative w-full  ">
                <select name="numemployees" required>
                  <option selected></option>

                  <option value="20+">20+</option>
                  <option value="10-19">10-19</option>
                  <option value="5-9">5-9</option>
                  <option value="3-4">3-4</option>
                  <option value="0-2">0-2</option>

                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 pb-3 text-grey">
                  <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                </div>
              </div>


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="company">
                Business Name </label>


              <input name="company" type="text" required autocomplete="">


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="website">
                Website Link </label>


              <input name="website" type="text" autocomplete="">


              <p class="text-grey text-xs -my-2 ml-4">Optional</p>
            </div>

          </div>


          <input name="demo_or_quote" type="hidden" value="Demo request">
          <input name="ab_test_variation" type="hidden" value="">


          <label class="flex text-white mb-6">
            <input data-id="6471441" class="mr-2 cursor-pointer" data-name="marketing-consent" type="checkbox" value="false">
            <span class="text-xs text-purple cursor-pointer">I agree to receive free tips on salon management.</span>
          </label>

          <div class="w-full mb-6">
            <button type="submit" class="button button-submit w-full text-xl font-normal">
              Submit
            </button>
            <div class="ajax-loader">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <p class="text-xs text-purple privacy-consent">By clicking submit you agree to Phorest Salon Software storing and processing this information for your request. Please review our <a href="https://www.phorest.com/privacy/" target="_blank" class="underline">Privacy Policy</a>.</p>
        </form>
      </div>

    </div>
  </div>
  <div class="modal w-screen h-screen fixed" id="book-quote">
    <div class="modal-content w-full relative rounded-lg">
      <div class="close-modal text-purple absolute top-0 right-0 z-10 mr-10 mt-6 cursor-pointer"><i data-feather="x" aria-hidden="true"></i></div>
      <div class="form h-full bg-white">
        <form class="phorest-form w-full p-10 md:px-16 md:pt-12" action="" method="post" data-id="e25196d0-972e-4e5f-94a6-e33b436c1c6a" novalidate>
          <p class="md:text-2xl text-lg font-lora font-bold text-purple">Get your salon&#039;s quote</p>
          <p class=" font-lora text-purple">Built to include just the features you need.</p>
          <p class="mb-4 font-lora text-purple">Phorest is great for all growing salons, perfect for 3+ staff.</p>

          <input name="channel_source" type="hidden" value="Website">
          <input name="lifecyclestage" type="hidden" value="salesqualifiedlead">
          <input name="interested_package" type="hidden" value="">
          <input name="form_ip" type="hidden" value="">
          <input data-name="submit-consent" data-id="6471442" type="hidden" value="Requested quote or demo">
          <span class="nottoday">
            <label for="form_email">Please leave this field blank</label>
            <input name="form_email" type="email" placeholder="Please leave this field blank" autocomplete="nope" tabindex="-1" readonly="readonly" onfocus="this.removeAttribute('readonly')" />
          </span>

          <div class="flex flex-wrap mb-6">
            <div class=" sm:w-1/2 pr-1  w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="firstname">
                Name </label>


              <input name="firstname" type="text" required autocomplete=" given-name ">


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" sm:w-1/2  w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="lastname">
                Last Name </label>


              <input name="lastname" type="text" autocomplete=" family-name ">


              <p class="text-grey text-xs -my-2 ml-4">Optional</p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="email">
                Email Address </label>


              <input name="email" type="email" required autocomplete=" email ">


              <p class="form-error">Enter a valid email</p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="phone">
                Phone Number </label>


              <input name="phone" type="tel" required autocomplete=" tel ">


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" w-full  relative form-field empty">



              <div class="inline-block relative w-full  hidden  ">
                <select name="county">
                  <option selected></option>

                  <option value="Aberdeenshire">Aberdeenshire</option>
                  <option value="Angus">Angus</option>
                  <option value="Antrim">Antrim</option>
                  <option value="Argyll and Bute">Argyll and Bute</option>
                  <option value="Armagh">Armagh</option>
                  <option value="Bedfordshire">Bedfordshire</option>
                  <option value="Berkshire ">Berkshire </option>
                  <option value="Bristol">Bristol</option>
                  <option value="Buckinghamshire">Buckinghamshire</option>
                  <option value="Cambridgeshire">Cambridgeshire</option>
                  <option value="Cheshire">Cheshire</option>
                  <option value="City of Aberdeen">City of Aberdeen</option>
                  <option value="City of Dundee">City of Dundee</option>
                  <option value="City of Edinburgh">City of Edinburgh</option>
                  <option value="City of Glasgow">City of Glasgow</option>
                  <option value="Clackmannanshire">Clackmannanshire</option>
                  <option value="Clwyd">Clwyd</option>
                  <option value="Cornwall">Cornwall</option>
                  <option value="Cumbria">Cumbria</option>
                  <option value="Derbyshire">Derbyshire</option>
                  <option value="Devon">Devon</option>
                  <option value="Dorset">Dorset</option>
                  <option value="Down">Down</option>
                  <option value="Dumfries and Galloway">Dumfries and Galloway</option>
                  <option value="Durham">Durham</option>
                  <option value="Dyfed">Dyfed</option>
                  <option value="East Ayrshire">East Ayrshire</option>
                  <option value="East Dunbartonshire">East Dunbartonshire</option>
                  <option value="East Lothian">East Lothian</option>
                  <option value="East Renfrewshire">East Renfrewshire</option>
                  <option value="East Riding of Yorkshire">East Riding of Yorkshire</option>
                  <option value="East Sussex">East Sussex</option>
                  <option value="Essex">Essex</option>
                  <option value="Falkirk">Falkirk</option>
                  <option value="Fermanagh">Fermanagh</option>
                  <option value="Fife">Fife</option>
                  <option value="Gloucestershire">Gloucestershire</option>
                  <option value="Greater Manchester">Greater Manchester</option>
                  <option value="Gwent">Gwent</option>
                  <option value="Gwynedd">Gwynedd</option>
                  <option value="Hampshire">Hampshire</option>
                  <option value="Herefordshire">Herefordshire</option>
                  <option value="Hertfordshire">Hertfordshire</option>
                  <option value="Highland">Highland</option>
                  <option value="Inverclyde">Inverclyde</option>
                  <option value="Isle of Wight">Isle of Wight</option>
                  <option value="Kent">Kent</option>
                  <option value="Lancashire">Lancashire</option>
                  <option value="Leicestershire">Leicestershire</option>
                  <option value="Lincolnshire">Lincolnshire</option>
                  <option value="Lincolnshire">Lincolnshire</option>
                  <option value="London">London</option>
                  <option value="Londonderry">Londonderry</option>
                  <option value="Merseyside">Merseyside</option>
                  <option value="Mid Glamorgan">Mid Glamorgan</option>
                  <option value="Midlothian">Midlothian</option>
                  <option value="Moray">Moray</option>
                  <option value="Norfolk">Norfolk</option>
                  <option value="North Ayrshire">North Ayrshire</option>
                  <option value="North Lanarkshire">North Lanarkshire</option>
                  <option value="North Yorkshire">North Yorkshire</option>
                  <option value="Northamptonshire">Northamptonshire</option>
                  <option value="Northumberland">Northumberland</option>
                  <option value="Nottinghamshire">Nottinghamshire</option>
                  <option value="Orkney Islands">Orkney Islands</option>
                  <option value="Oxfordshire">Oxfordshire</option>
                  <option value="Perth and Kinross">Perth and Kinross</option>
                  <option value="Peterborough">Peterborough</option>
                  <option value="Powys">Powys</option>
                  <option value="Renfrewshire">Renfrewshire</option>
                  <option value="Scottish Borders">Scottish Borders</option>
                  <option value="Shetland Islands">Shetland Islands</option>
                  <option value="Shropshire">Shropshire</option>
                  <option value="Somerset">Somerset</option>
                  <option value="South Ayrshire">South Ayrshire</option>
                  <option value="South Glamorgan">South Glamorgan</option>
                  <option value="South Lanarkshire">South Lanarkshire</option>
                  <option value="South Yorkshire">South Yorkshire</option>
                  <option value="Staffordshire">Staffordshire</option>
                  <option value="Stirling">Stirling</option>
                  <option value="Suffolk">Suffolk</option>
                  <option value="Surrey">Surrey</option>
                  <option value="Swindon">Swindon</option>
                  <option value="Tyne &amp; Wear">Tyne &amp; Wear</option>
                  <option value="Tyrone">Tyrone</option>
                  <option value="Warwickshire">Warwickshire</option>
                  <option value="West Dunbartonshire">West Dunbartonshire</option>
                  <option value="West Glamorgan">West Glamorgan</option>
                  <option value="West Lothian">West Lothian</option>
                  <option value="West Midlands">West Midlands</option>
                  <option value="West Sussex">West Sussex</option>
                  <option value="West Yorkshire">West Yorkshire</option>
                  <option value="Western Isles">Western Isles</option>
                  <option value="Wiltshire">Wiltshire</option>
                  <option value="Worcestershire">Worcestershire</option>
                  <option value="Other">Other</option>

                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 pb-3 text-grey">
                  <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                </div>
              </div>


            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="type_of_business">
                Business Type </label>


              <div class="inline-block relative w-full  ">
                <select name="type_of_business" required>
                  <option selected></option>

                  <option value="Beauty Salon">Beauty Salon</option>
                  <option value="Hair Salon">Hair Salon</option>
                  <option value="Hair &amp; Beauty Salon">Hair &amp; Beauty Salon</option>
                  <option value="Barber">Barber</option>
                  <option value="Medi-aesthetic">Medi-aesthetic</option>
                  <option value="Spa">Spa</option>
                  <option value="Mobile">Mobile</option>
                  <option value="Other">Other</option>

                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 pb-3 text-grey">
                  <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                </div>
              </div>


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="numemployees">
                Number of Employees </label>


              <div class="inline-block relative w-full  ">
                <select name="numemployees" required>
                  <option selected></option>

                  <option value="20+">20+</option>
                  <option value="10-19">10-19</option>
                  <option value="5-9">5-9</option>
                  <option value="3-4">3-4</option>
                  <option value="0-2">0-2</option>

                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 pb-3 text-grey">
                  <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                </div>
              </div>


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="company">
                Business Name </label>


              <input name="company" type="text" required autocomplete="">


              <p class="form-error"> Please fill out this field </p>
            </div>
            <div class=" w-full  my-2  relative form-field empty">

              <label class="absolute left-0 top-0 text-xs text-purple font-bold" for="website">
                Website Link </label>


              <input name="website" type="text" autocomplete="">


              <p class="text-grey text-xs -my-2 ml-4">Optional</p>
            </div>

          </div>


          <input name="demo_or_quote" type="hidden" value="Quote request">
          <input name="ab_test_variation" type="hidden" value="">


          <label class="flex text-white mb-6">
            <input data-id="6471441" class="mr-2 cursor-pointer" data-name="marketing-consent" type="checkbox" value="false">
            <span class="text-xs text-purple cursor-pointer">I agree to receive free tips on salon management.</span>
          </label>

          <div class="w-full mb-6">
            <button type="submit" class="button button-submit w-full text-xl font-normal">
              Submit
            </button>
            <div class="ajax-loader">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <p class="text-xs text-purple privacy-consent">By clicking submit you agree to Phorest Salon Software storing and processing this information for your request. Please review our <a href="https://www.phorest.com/privacy/" target="_blank" class="underline">Privacy Policy</a>.</p>
        </form>
      </div>

    </div>
  </div>


  <div id="popup">
    <p class="text-white text-lg font-bold">Your Salon Coronavirus Best-Practice Guide</p>
    <a class="button bg-white" href="https://www.phorest.com/coronavirus-best-practice/">Read the guide</a>
    <div id="close-popup"><i data-feather="x" aria-hidden="true"></i></div>
  </div>


  <div class="modal w-screen h-screen fixed" id="giftcards">
    <div class="modal-content w-full relative rounded-lg">
      <div class="close-modal text-purple absolute top-0 right-0 z-10 mr-10 mt-6 cursor-pointer"><i data-feather="x" aria-hidden="true"></i></div>
      <div style="background-image: url('https://d2dfxqxblmblx4.cloudfront.net/images/promos/one-million-giftcards.jpg'); background-size: cover; background-position: center center">
        <div class="w-3/4 sm:w-1/2 lg:w-2/3 px-4 py-8">
          <img class="block logo mb-8" src="https://d2dfxqxblmblx4.cloudfront.net/images/logos/phorest-logo.svg" alt="Phorest Salon Software">
          <p class="text-white text-xl lg:text-3xl font-semibold mb-10">Over <span>€1 million</span> in Phorest Gift Vouchers Sold Worldwide this April!</p>
          <button class="modal-trigger button button-primary w-auto demo-cta">
            Book a free demo
          </button>
        </div>
      </div>

    </div>
  </div>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using redis

Served from: www.phorest.com @ 2020-05-07 09:50:08 by W3 Total Cache
-->