<!doctype html>
<html lang="en" data-region="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
  <link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
  <!-- Google Tag Manager -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W6KV6NZ');
  </script>
  <!-- End Google Tag Manager -->
  <title>Spa &amp; Salon Software | Salon Booking app | Salon Management app</title>
  <link rel="alternate" href="https://www.phorest.com" hreflang="x-default" />
  <link rel="alternate" hreflang="en" href="https://www.phorest.com" />
  <link rel="alternate" hreflang="en-au" href="https://www.phorest.com/au/" />
  <link rel="alternate" hreflang="en-gb" href="https://www.phorest.com/gb/" />
  <link rel="alternate" hreflang="en-us" href="https://www.phorest.com/us/" />
  <link rel="alternate" hreflang="fi-fi" href="https://www.phorest.com/fi/" />
  <link rel="alternate" hreflang="de" href="https://www.phorest.com/de/" />

  <!-- This site is optimized with the Yoast SEO plugin v13.0 - https://yoast.com/wordpress/plugins/seo/ -->
  <meta name="description" content="Join 6,000+ hair &amp; beaty salons, spas &amp; barbers using Phorest Salon Software to increase bookings &amp; revenue. We&#039;ll handle your setup &amp; migration. Try today!" />
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <link rel="canonical" href="https://www.phorest.com/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Spa &amp; Salon Software | Salon Booking app | Salon Management app" />
  <meta property="og:description" content="Join 6,000+ hair &amp; beaty salons, spas &amp; barbers using Phorest Salon Software to increase bookings &amp; revenue. We&#039;ll handle your setup &amp; migration. Try today!" />
  <meta property="og:url" content="https://www.phorest.com/" />
  <meta property="og:site_name" content="Phorest" />
  <meta property="og:image" content="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage.jpg" />
  <meta property="og:image:secure_url" content="https://d2dfxqxblmblx4.cloudfront.net/images/hero/homepage.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Join 6,000+ hair &amp; beaty salons, spas &amp; barbers using Phorest Salon Software to increase bookings &amp; revenue. We&#039;ll handle your setup &amp; migration. Try today!" />
  <meta name="twitter:title" content="Spa &amp; Salon Software | Salon Booking app | Salon Management app" />
  <meta name="twitter:site" content="@thephorestword" />
  <meta name="twitter:image" content="https://d2dfxqxblmblx4.cloudfront.net/images/logos/phorest-acorn-logo.png" />
  <meta name="twitter:creator" content="@thephorestword" />
  <meta name="yandex-verification" content="9ff49578197991ed" />
  <script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>
    {
      "@context": "https://schema.org",
      "@graph": [{
        "@type": "Organization",
        "@id": "https://www.phorest.com/#organization",
        "name": "Phorest",
        "url": "https://www.phorest.com/",
        "sameAs": ["https://www.facebook.com/phorestsalonsoftware", "https://instagram.com/phorest_salon_software", "https://www.linkedin.com/company/phorest?trk=company_name", "https://www.pinterest.com/phorestss/", "https://plus.google.com/u/0/b/101418954139594616916/101418954139594616916/posts/p/pub", "https://twitter.com/thephorestword"],
        "logo": {
          "@type": "ImageObject",
          "@id": "https://www.phorest.com/#logo",
          "url": "https://d2dfxqxblmblx4.cloudfront.net/wp-content/uploads/2019/10/24141402/phorest-acorn-logo1.png",
          "width": 201,
          "height": 202,
          "caption": "Phorest"
        },
        "image": {
          "@id": "https://www.phorest.com/#logo"
        }
      }, {
        "@type": "WebSite",
        "@id": "https://www.phorest.com/#website",
        "url": "https://www.phorest.com/",
        "name": "Phorest",
        "description": "Salon Software - Hair &amp; Beauty - UK for Spa Management &amp; Appointments",
        "publisher": {
          "@id": "https://www.phorest.com/#organization"
        },
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://www.phorest.com/?s={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }, {
        "@type": "WebPage",
        "@id": "https://www.phorest.com/#webpage",
        "url": "https://www.phorest.com/",
        "inLanguage": "en",
        "name": "Spa &amp; Salon Software | Salon Booking app | Salon Management app",
        "isPartOf": {
          "@id": "https://www.phorest.com/#website"
        },
        "about": {
          "@id": "https://www.phorest.com/#organization"
        },
        "datePublished": "2019-04-15T09:45:16+00:00",
        "dateModified": "2020-04-01T14:07:03+00:00",
        "description": "Join 6,000+ hair & beaty salons, spas & barbers using Phorest Salon Software to increase bookings & revenue. We'll handle your setup & migration. Try today!"
      }]
    }
  </script>
  <!-- / Yoast SEO plugin. -->

  <link rel='dns-prefetch' href='//s.w.org' />
  <link rel='dns-prefetch' href='//d2dfxqxblmblx4.cloudfront.net' />
  <link rel='stylesheet' id='cookie-notice-front-css' href='https://d2dfxqxblmblx4.cloudfront.net/wp-content/plugins/cookie-notice/css/front.min.css?ver=5.3' type='text/css' media='all' />
  <link rel='stylesheet' id='wpml-legacy-dropdown-click-0-css' href='https://d2dfxqxblmblx4.cloudfront.net/wp-content/plugins/sitepress-multilingual-cms/templates/language-switchers/legacy-dropdown-click/style.css?ver=1' type='text/css' media='all' />
  <link rel='stylesheet' id='inline-tweet-sharer-style-css' href='https://d2dfxqxblmblx4.cloudfront.net/wp-content/plugins/inline-tweet-sharer/inline-tweet-sharer.css?ver=2.3.2' type='text/css' media='all' />
  <link rel='stylesheet' id='sage/main.css-css' href='https://d2dfxqxblmblx4.cloudfront.net/wp-content/themes/phorest/dist/styles/main_fa49c3eb.css' type='text/css' media='all' />

</head>

<body data-rsssl=1 class="home page-template-default page page-id-57423 phorest/resources cookies-not-set app-data index-data singular-data page-data page-57423-data page-homepage-data front-page-data">
  <script type="text/javascript">
    window.chunksRootURL = "http://localhost:3002"
    window.chunksApiRootURL = "http://localhost:3002/api/v1"
  </script>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=" .GTM-W6KV6NZ height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <%= yield %>


  <script src="https://browser.sentry-cdn.com/5.5.0/bundle.min.js" integrity="sha384-/kLYKYxlMDI1l+lhDHECQrq1Z4fnk/A32MWVF6rRnuE2WiOuAmg3wr3McNOG3Szi" crossorigin="anonymous"></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var cnArgs = {
      "ajaxurl": "https:\/\/www.phorest.com\/wp-admin\/admin-ajax.php",
      "hideEffect": "fade",
      "onScroll": "yes",
      "onScrollOffset": "300",
      "onClick": "",
      "cookieName": "cookie_notice_accepted",
      "cookieValue": "true",
      "cookieTime": "7862400",
      "cookiePath": "\/",
      "cookieDomain": "",
      "redirection": "",
      "cache": "1",
      "refuse": "no",
      "revoke_cookies": "0",
      "revoke_cookies_opt": "automatic",
      "secure": "1"
    };
    /* ]]> */
  </script>
  <script type='text/javascript' src='https://d2dfxqxblmblx4.cloudfront.net/wp-content/plugins/cookie-notice/js/front.min.js?ver=1.2.50'></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var ajax_object = {
      "ajax_url": "https:\/\/www.phorest.com\/wp-admin\/admin-ajax.php",
      "ajax_nonce": "4a5747a4c1",
      "query": {
        "query": [],
        "query_vars": {
          "error": "",
          "m": "",
          "p": "57423",
          "post_parent": "",
          "subpost": "",
          "subpost_id": "",
          "attachment": "",
          "attachment_id": 0,
          "name": "",
          "pagename": "",
          "page_id": "57423",
          "second": "",
          "minute": "",
          "hour": "",
          "day": 0,
          "monthnum": 0,
          "year": 0,
          "w": 0,
          "category_name": "",
          "tag": "",
          "cat": "",
          "tag_id": "",
          "author": "",
          "author_name": "",
          "feed": "",
          "tb": "",
          "paged": 0,
          "meta_key": "",
          "meta_value": "",
          "preview": "",
          "s": "",
          "sentence": "",
          "title": "",
          "fields": "",
          "menu_order": "",
          "embed": "",
          "category__in": [],
          "category__not_in": [],
          "category__and": [],
          "post__in": [],
          "post__not_in": [],
          "post_name__in": [],
          "tag__in": [],
          "tag__not_in": [],
          "tag__and": [],
          "tag_slug__in": [],
          "tag_slug__and": [],
          "post_parent__in": [],
          "post_parent__not_in": [],
          "author__in": [],
          "author__not_in": [],
          "ignore_sticky_posts": false,
          "suppress_filters": false,
          "cache_results": true,
          "update_post_term_cache": true,
          "lazy_load_term_meta": true,
          "update_post_meta_cache": true,
          "post_type": "",
          "posts_per_page": 9,
          "nopaging": false,
          "comments_per_page": "50",
          "no_found_rows": false,
          "order": "DESC"
        },
        "tax_query": {
          "queries": [],
          "relation": "AND",
          "queried_terms": [],
          "primary_table": null,
          "primary_id_column": null
        },
        "meta_query": {
          "queries": [],
          "relation": null,
          "meta_table": null,
          "meta_id_column": null,
          "primary_table": null,
          "primary_id_column": null
        },
        "date_query": false,
        "queried_object": {
          "ID": 57423,
          "post_author": "40018",
          "post_date": "2019-04-15 09:45:16",
          "post_date_gmt": "2019-04-15 09:45:16",
          "post_content": "",
          "post_title": "Home",
          "post_excerpt": "",
          "post_status": "publish",
          "comment_status": "closed",
          "ping_status": "closed",
          "post_password": "",
          "post_name": "homepage",
          "to_ping": "",
          "pinged": "",
          "post_modified": "2020-04-01 14:07:03",
          "post_modified_gmt": "2020-04-01 14:07:03",
          "post_content_filtered": "",
          "post_parent": 0,
          "guid": "http:\/\/localhost:8000\/?page_id=57423",
          "menu_order": 0,
          "post_type": "page",
          "post_mime_type": "",
          "comment_count": "0",
          "filter": "raw"
        },
        "queried_object_id": 57423,
        "request": "SELECT   wp_posts.* FROM wp_posts  JOIN wp_icl_translations wpml_translations\n\t\t\t\t\t\t\tON wp_posts.ID = wpml_translations.element_id\n\t\t\t\t\t\t\t\tAND wpml_translations.element_type = CONCAT('post_', wp_posts.post_type)  WHERE 1=1  AND wp_posts.ID = 57423 AND wp_posts.post_type = 'page' AND ( ( ( wpml_translations.language_code = 'en' OR (\n\t\t\t\t\twpml_translations.language_code = 'en'\n\t\t\t\t\tAND wp_posts.post_type IN ( 'event' )\n\t\t\t\t\tAND ( ( \n\t\t\t( SELECT COUNT(element_id)\n\t\t\t  FROM wp_icl_translations\n\t\t\t  WHERE trid = wpml_translations.trid\n\t\t\t  AND language_code = 'en'\n\t\t\t) = 0\n\t\t\t ) OR ( \n\t\t\t( SELECT COUNT(element_id)\n\t\t\t\tFROM wp_icl_translations t2\n\t\t\t\tJOIN wp_posts p ON p.id = t2.element_id\n\t\t\t\tWHERE t2.trid = wpml_translations.trid\n\t\t\t\tAND t2.language_code = 'en'\n\t\t\t\tAND (\n\t\t\t\t\tp.post_status = 'publish' OR \n\t\t\t\t\tp.post_type='attachment' AND p.post_status = 'inherit'\n\t\t\t\t)\n\t\t\t) = 0 ) ) \n\t\t\t\t) ) AND wp_posts.post_type  IN ('post','page','attachment','wp_block','event','faqs','guides','podcast','testimonials','updates','videos' )  ) OR wp_posts.post_type  NOT  IN ('post','page','attachment','wp_block','event','faqs','guides','podcast','testimonials','updates','videos' )  )  ORDER BY wp_posts.post_date DESC ",
        "posts": [{
          "ID": 57423,
          "post_author": "40018",
          "post_date": "2019-04-15 09:45:16",
          "post_date_gmt": "2019-04-15 09:45:16",
          "post_content": "",
          "post_title": "Home",
          "post_excerpt": "",
          "post_status": "publish",
          "comment_status": "closed",
          "ping_status": "closed",
          "post_password": "",
          "post_name": "homepage",
          "to_ping": "",
          "pinged": "",
          "post_modified": "2020-04-01 14:07:03",
          "post_modified_gmt": "2020-04-01 14:07:03",
          "post_content_filtered": "",
          "post_parent": 0,
          "guid": "http:\/\/localhost:8000\/?page_id=57423",
          "menu_order": 0,
          "post_type": "page",
          "post_mime_type": "",
          "comment_count": "0",
          "filter": "raw"
        }],
        "post_count": 1,
        "current_post": -1,
        "in_the_loop": false,
        "post": {
          "ID": 57423,
          "post_author": "40018",
          "post_date": "2019-04-15 09:45:16",
          "post_date_gmt": "2019-04-15 09:45:16",
          "post_content": "",
          "post_title": "Home",
          "post_excerpt": "",
          "post_status": "publish",
          "comment_status": "closed",
          "ping_status": "closed",
          "post_password": "",
          "post_name": "homepage",
          "to_ping": "",
          "pinged": "",
          "post_modified": "2020-04-01 14:07:03",
          "post_modified_gmt": "2020-04-01 14:07:03",
          "post_content_filtered": "",
          "post_parent": 0,
          "guid": "http:\/\/localhost:8000\/?page_id=57423",
          "menu_order": 0,
          "post_type": "page",
          "post_mime_type": "",
          "comment_count": "0",
          "filter": "raw"
        },
        "comment_count": 0,
        "current_comment": -1,
        "found_posts": 1,
        "max_num_pages": 0,
        "max_num_comment_pages": 0,
        "is_single": false,
        "is_preview": false,
        "is_page": true,
        "is_archive": false,
        "is_date": false,
        "is_year": false,
        "is_month": false,
        "is_day": false,
        "is_time": false,
        "is_author": false,
        "is_category": false,
        "is_tag": false,
        "is_tax": false,
        "is_search": false,
        "is_feed": false,
        "is_comment_feed": false,
        "is_trackback": false,
        "is_home": false,
        "is_privacy_policy": false,
        "is_404": false,
        "is_embed": false,
        "is_paged": false,
        "is_admin": false,
        "is_attachment": false,
        "is_singular": true,
        "is_robots": false,
        "is_posts_page": false,
        "is_post_type_archive": false,
        "thumbnails_cached": false
      },
      "pid": "57423",
      "post_type": "page"
    };
    /* ]]> */
  </script>
  <script type='text/javascript' src='https://d2dfxqxblmblx4.cloudfront.net/wp-content/themes/phorest/dist/scripts/main_fa49c3eb.js'></script>
  <script type='text/javascript' src='https://d2dfxqxblmblx4.cloudfront.net/wp-includes/js/wp-embed.min.js?ver=5.3'></script>


  <!-- Cookie Notice plugin v1.2.50 by Digital Factory https://dfactory.eu/ -->
  <div id="cookie-notice" role="banner" class="cookie-notice-hidden cookie-revoke-hidden cn-position-bottom" aria-label="Cookie Notice" style="background-color: #000;">
    <div class="cookie-notice-container" style="color: #fff;"><span id="cn-notice-text" class="cn-text-container">We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</span><span id="cn-notice-buttons" class="cn-buttons-container"><a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button bootstrap button">Ok</a></span></div>

  </div>
  <!-- / Cookie Notice plugin -->
  <script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
  <%# <script src="http://localhost:3002/assets/chunks.js"></script> %>
</body>

</html>